$boardBackground: #4bbf6b;
$boardScrumBackground: #e2e4e6;
$taskBackgroundColor: #FFFFA5;
$boardDragTargetBackground: #C4C9CC;
$boardStorySeparator: #999;

$headerBoarder: #333;

$textColor: #333;
$badgeColor: #838c91;
$cardDetailColor: #999;
$boardHeaderTextColor: #f6f6f6;
$storyPointsColor: #006580;

$green: #61BD4F;
$purple: #C377E0;
$yellow: #F2D600;
$orange: #FFAB4A;
$red: #EB5A46;
$blue: #0079BF;
$black: #4d4d4d;
